table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 5px;
}
img.home-button {
	position: absolute;
	height: 30px;
	width: 30px;
	top: 6px;
	left: 6px;
}
div.twitter {
	float: left;
	padding: 10px;
}
div.rss {
	padding: 10px;
}